
//Variables
$font-size-14: 0.875rem;
$font-size-16: 1rem;
$font-size-17: 1.063rem;
$font-size-18: 1.125rem;
$font-size-20: 1.25rem;
$font-size-22: 1.375rem;
$font-size-26: 1.625rem;
$font-size-28: 1.75rem;
$font-size-30: 1.875rem;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes compare-right {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-10px);
    }
}

@keyframes compare-left {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(10px);
    }
}

body {
    margin: 0;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 1rem;

    header {
        width: 100%;
        height: 90px;
        display: flex;
        align-items: center;

        nav {
            width: 90%;
            margin: 0 auto;

            display: flex;
            align-items: center;
            justify-content: space-between;

            .logo {
                font-size: $font-size-30;
                font-weight: 700;
                text-decoration: none;
                color: #000;
            }

            .search {
                width: 50vw;
                height: 48px;
                background-color: #fff;
                border: 1px solid #EBEBEB;
                border-radius: 60px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                input {
                    background: transparent;
                    border: 0;
                    height: 100%;
                    width: 100%;
                    outline: none;
                    padding: 20px 40px;
                    font-size: $font-size-18;
                    
                    &::placeholder {
                        color: #5E5E5E;
                    }
                }

                button {
                    width: 60px;
                    height: 60px;
                    border: 0;
                    border-radius: 50%;
                    margin-right: 20px;
                    background: transparent;
                    cursor: pointer;

                    &:hover svg path,
                    &:active svg path {
                        fill: #0065DB;
                    }
        
                    svg {
                        width: 25px;
                        
                        path {
                            transition: all .3s ease;
                        }
                    }
                }
            }

            .icons {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 13vw;
                height: 100%;

                .selectLanguage {
                    height: 54px;
                    width: 57px;
                    display: grid;
                    align-content: center;

                    .select {
                        border: 0;
                        outline: none;
                        font-size: $font-size-17;
                        font-weight: 500;
                        color: #4A5568;
                    }
                }

                .cart {
                    height: 54px;
                    width: 57px;
                    text-decoration: none;
                    
                    .image {
                        width: fit-content;
                        height: fit-content;
                        padding: 16px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: relative;

                        &:hover svg path {
                            fill: #0065DB;
                        }
                        
                        svg {

                            path {
                                transition: all .3s ease;
                            }
                        }

                        .quantity {
                            position: absolute;
                            bottom: 5px;
                            right: 5px;
                            background-color: #fff;
                            border: 1px solid #9AE6B4;
                            border-radius: 50%;
                            width: 22px;
                            height: 22px;
                            display: grid;
                            align-content: center;

                            span {
                                text-align: center;
                                color: #2F855A;
                                margin: 0;
                                padding: 0;
                                line-height: 0;
                            }
                        }
                    }
                }

                .user-profile {
                    height: 54px;
                    width: 57px;
                    text-decoration: none;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &:hover svg path {
                        fill: #0065DB;
                    }
                    
                    svg {

                        path {
                            transition: all .3s ease;
                        }
                    }
                }

            }
        }
    }

    .search {
        width: 100%;
        height: 55px;
        background-color: #fff;
        border: 1px solid #EBEBEB;
        display: none;
        align-items: center;
        justify-content: space-between;

        input {
            background: transparent;
            border: 0;
            height: 100%;
            width: 100%;
            outline: none;
            padding: 20px 40px;
            font-size: $font-size-18;
            
            &::placeholder {
                color: #5E5E5E;
            }
        }

        button {
            width: 60px;
            height: 60px;
            border: 0;
            border-radius: 50%;
            margin-right: 20px;
            background: transparent;
            cursor: pointer;

            &:hover svg path,
            &:active svg path {
                fill: #0065DB;
            }

            svg {
                width: 25px;
                
                path {
                    transition: all .3s ease;
                }
            }
        }
    }

    .hero {
        width: 100%;
        padding-right: 5%;
        height: fit-content;

        .hero-container {
            width: 100%;
            height: fit-content;

            img {
                width: 100%;
                object-fit: cover;
            }
        }
    }

    .main {
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        padding-top: 2rem;

        .filter {
            width: 25%;

            .filter-by {
                width: 100%;
                height: 70px;
                color: #fff;
                background-color: #0065DB;
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;

                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0 18px 0 45px;

                h4 {
                    font-size: $font-size-26;
                    font-weight: 700;
                    text-transform: uppercase;
                }

                button {
                    width: 100px;
                    height: 48px;
                    color: #fff;
                    font-size: $font-size-20;
                    font-weight: 400;
                    background-color: transparent;
                    border: 1px solid #fff;
                    border-radius: 8px;
                    cursor: pointer;
                    transition: all .4s ease-in-out;

                    &:hover,
                    &:active {
                        background-color: #fff;
                        color: #0065DB;
                    }
                }
            }

            .price-dropdown-toggle {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 18px 40px 18px 45px;
                background-color: #FAF8F8;
                border: 1px solid #E2E2E2;
                cursor: pointer;

                &:hover {
                    background-color: #0065DB;
                    color: #fff;
                }

                &:hover svg path {
                    fill: #fff;
                }

                span {
                    font-size: $font-size-20;
                    font-weight: 400;
                }

                svg {
                    height: 15px;
                    transition: transform .3s ease;
                }
            }

            .price-range-container {
                width: 100%;
                height: 20%;
                padding: 32px 44px;
                border: 1px solid #E2E2E2;

                .price-range {
                    font-size: $font-size-18;
                    font-weight: 400;
                    margin-bottom: 8px;
                }

                .rangeText {
                    color: #0065DB;
                    margin-bottom: 20px;
                }

                #range-slider {
                    width: 100%;
                    display: flex;

                    .rangeValues {
                        width: 100%;
                        display: block;
                    }
    
                    input[type=range] {
                        -webkit-appearance: none;
                        appearance: none;
                        width: 100%;
                    }

                    input[type=range]::-webkit-slider-runnable-track {
                        width: 100%;
                        height: 5px;
                        background-color: #1A202C;
                        border: none;
                        border-radius: 0;
                    }
    
                    input[type=range]::-webkit-slider-thumb {
                        -webkit-appearance: none;
                        appearance: none;
                        border: none;
                        width: 22px;
                        height: 22px;
                        border-radius: 50%;
                        background: #1A202C;
                        color: #1A202C;
                        margin-top: -8px;
                        cursor: pointer;
                        z-index: 1;
    
                    }
                }
            }

            .brand-dropdown-toggle {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 18px 40px 18px 45px;
                background-color: #FAF8F8;
                border: 1px solid #E2E2E2;
                cursor: pointer;

                &:hover {
                    background-color: #0065DB;
                    color: #fff;
                }

                &:hover svg path {
                    fill: #fff;
                }

                span {
                    font-size: $font-size-20;
                    font-weight: 400;
                }

                svg {
                    height: 15px;
                    transition: transform .3s ease;
                }
            }
            
            .brand-menu {
                list-style: none;
                list-style-position: inside;
                padding: 28px 44px;
                border: 1px solid #E2E2E2;
                transition: display .3s ease;

                li {
                    display: flex;
                    align-items: center;

                    input {
                        width: 24px;
                        height: 24px;
                        border: 1px solid #CBCBCB;
                        margin-right: 24px;
                    }

                    span {
                        font-size: $font-size-20;
                        font-weight: 400;
                    }
                }

                li:not(:last-child) {
                    margin-bottom: 22px;
                }

            }

            .color-dropdown-toggle {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 18px 40px 18px 45px;
                background-color: #FAF8F8;
                border: 1px solid #E2E2E2;
                cursor: pointer;

                &:hover {
                    background-color: #0065DB;
                    color: #fff;
                }

                &:hover svg path {
                    fill: #fff;
                }

                span {
                    font-size: $font-size-20;
                    font-weight: 400;
                }

                svg {
                    height: 15px;
                    transition: transform .3s ease;
                }
            }

            .product-color-container {
                padding: 32px 44px;
                border: 1px solid #E2E2E2;
                
                .colors {
                    width: 100%;
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    gap: .5rem;
                    margin-bottom: 31px;

                    input {
                        display: none;
                    }

                    label {
                        margin-bottom: 6px;
                        cursor: pointer;

                        div:hover {
                            border: 1px solid #0065DB;
                        }

                        .color {
                            width: 64px;
                            height: 64px;
                            border-radius: 50%;

                            display: grid;
                            place-items: center;
    
                            svg {
                                display: none;
                            }
                        }

                        .black {
                            background-color: #212121;
                        }

                        .red {
                            background-color:#EF3030;
                        }

                        .indigo {
                            background-color:#3940F2;
                        }

                        .green {
                            background-color: #5CEA95;
                        }

                        .yellow {
                            background-color: #FFF73D;
                        }

                        .orange {
                            background-color: #FF8D3B;
                        }

                        .grey {
                            background-color: #C3C3C3;
                        }

                        .white {
                            border: 1px solid rgba(0,0,0,0.27);
                            background-color: #FFFFFF;
                        }
                    }
                    
                }

                .selected-color-text {
                    display: flex;
                    flex-direction: column;

                    .title {
                        font-size: $font-size-20;
                        font-weight: 600;
                        margin-bottom: 18px;
                    }

                    .color-names {
                        display: flex;
                        flex-direction: column;
                        list-style: none;

                        .color-title {
                            display: flex;
                            align-items: center;
                            margin-bottom: 14px;

                            .x {
                                width: 18px;
                                height: 18px;
                                border: 1px solid #CBCBCB;
                                border-radius: 3px;
                                margin-right: 8px;
                            }

                            .name {
                                font-size: $font-size-20;
                                font-weight: 400;
                            }

                        }
                    }
                }
            }


        }

        .products-container {
            width: 70%;
            display: grid;
            // grid-template-columns: repeat(auto-fit, minmax(404px, 1fr));
            grid-template-columns: repeat(3, 1fr);
            gap: 1rem;

            .product {
                width: 100%;
                height: 504px;
                background-color: transparent;
                border: 1px solid #E2E2E2;
                border-radius: 20px;
                margin: 0 auto;
                transition: transform .4s ease-in-out;
                &:hover {
                    transform: translateY(-10px);
                }

                .product-header {
                    width: 100%;
                    height: 300px;
                    
                    .thumbnail-link {
                        height: 80%;
                        width: 100%;
                        padding: 20px 30px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        overflow: hidden;
                        
                        .product-thumbnail {
                            height: 100%;
                            width: 85%;
                            object-fit: contain;
                        }
                    }
                    
                    .title-link {
                        width: 100%;
                        height: fit-content;
                        text-decoration: none;
                        
                        .product-title {
                            width: 90%;
                            margin: 0 auto;
                            margin-top: 15px;
                            color: #1A202C;
                            font-size: $font-size-22;
                            font-weight: 600;
                        }
                    }
                }

                .product-body {
                    width: 90%;
                    height: 40%;
                    margin: 0 auto;
                    padding: 20px 0;

                    display: flex;
                    justify-content: space-between;

                    .product-content {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        .reviews {

                            i {
                                height: 17px;
                                color: #F6AD55;
                            }

                            .review-grade {
                                color: #F6AD55;
                                font-weight: 600;
                            }

                            .review-count {
                                color: #A0AEC0;
                            }
                        }
                        
                        .details {

                            ul {
                                display: flex;
                                flex-direction: column;
                                list-style-position: inside;

                                li {
                                    color: #969696;
                                    font-weight: 400;

                                }
                            }
                        }

                        .price {
                            color: #1A202C;
                            font-size: $font-size-28;
                            font-weight: 700;
                        }
                    }

                    .buttons {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        button {
                            border: 0;
                            background-color: transparent;
                            cursor: pointer;
                        }

                        .compare {
                            display: flex;
                            flex-direction: column;

                            &:hover .right-arrow {
                                transform: translateX(-5px);
                                color: #0065DB;
                            }
                            &:hover .left-arrow {
                                transform: translateX(5px);
                                color: #0065DB;
                            }

                            &:hover .right-arrow path,
                            &:hover .left-arrow path {
                                fill: #0065DB;
                            }
                            
                            .right-arrow {
                                margin-top: 0;
                                margin-left: auto;
                                transition: all .4s cubic-bezier(0,1.5,1,1.5);

                                path {
                                    transition: all .4s ease;
                                }
                            }
                            
                            .left-arrow {
                                margin-top: 0;
                                margin-right: auto;
                                transition: all .4s cubic-bezier(0,1.5,1,1.5);

                                path {
                                    transition: all .4s ease;
                                }
                            }
                        }

                        .favorite {
                            height: 29px;

                            &:hover svg {
                                transform: scale(1.1);
                            }

                            &:hover svg path {
                                fill: #0065DB;
                            }

                            svg {
                                height: 100%;
                                transition: transform .4s cubic-bezier(0.5,2,0.5,-2);
                                
                                path {
                                    transition: all .3s ease;
                                }
                            }
                        }

                        .add-to-cart {
                            height: 34px;

                            &:hover svg {
                                transform: scale(1.15);
                            }

                            &:hover svg path,
                            &:active svg path {
                                fill: #0065DB;
                            }

                            svg {
                                height: 100%;
                                transition: all .25s cubic-bezier(0.45,0.05,0.55,0.95);
                                
                                path {
                                    transition: all .25s cubic-bezier(0.45,0.05,0.55,0.95);
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .brands {
        height: 100px;
        width: 100%;
        margin-top: 88px;
        display: flex;
        border: 1px solid #E0E0E0;

        .text-for-brands {
            width: 30%;
            height: 100%;
            border-top-right-radius: 30px;
            background-color: #0065DB;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;

            span {
                width: 90%;
                font-size: $font-size-28;
                font-weight: 700;
                text-align: center;
                text-transform: uppercase;
            }
        }

        .slide-container {
            width: 70%;
            height: 100%;
            display: flex;
            padding: 0 20px;
            align-items: center;
            justify-content: center;

            .swiper-button-prev {
                display: none;
            }

            .swiper-button-next {
                display: none;
            }

            .swiper-btn-prev {
                width: fit-content;
                cursor: pointer;
            }

            .swiper-btn-next {
                width: fit-content;
                cursor: pointer;
            }
        
            .slide-content {
                width: 85%;
                overflow: hidden;
                margin: 0 36px;

                .logo-wrapper {

                    .swiper-slide {
                        height: 55px;
                        width: fit-content;
                        img {
                            height: 100%;
                        }
                    }
                }
            }
        }
    }

    //Media Queries
    
    @media (max-width: 1500px) {

        .main {
            .filter {
                .product-color-container {
                    padding: 32px 22px;
                }
            }
        }
    }

    @media (max-width: 1400px) {
    
        .main {
            .filter {
                .product-color-container {
                    .colors {
                        label {
                            .color {
                                width: 52px;
                                height: 52px;
                            }
                        }
                    }
                }
            }

            .products-container {
                .product {
                    .product-header {
                        .title-link {
                            .product-title {
                                font-size: $font-size-20;
                            }
                        }
                    }
    
                    .product-body {
                        .product-content {
                            .price {
                                font-size: $font-size-26;
                            }
                        }
                    }
                }
            }
        }

        .brands {
            .text-for-brands {
                span {
                    font-size: $font-size-20;
                }
            }

            .slide-container {

                .slide-content {
                    margin: 0 10px;

                    .logo-wrapper {
                        .swiper-slide {
                            height: 45px;
                            width: fit-content;
                            display: flex;
                            justify-content: center;
                            img {
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                    }
                }
            }

        }
    }
    
    @media (max-width: 1200px) {
    
        .main {
            .filter {
                .filter-by {
                    h4 {
                        font-size: $font-size-22;
                    }

                    button {
                        font-size: $font-size-18;
                        width: 90px;
                        height: 45px;
                    }
                }

                .price-dropdown-toggle {
                    span {
                        font-size: $font-size-18;
                    }
                }

                .brand-dropdown-toggle {
                    span {
                        font-size: $font-size-18;
                    }
                }

                .color-dropdown-toggle {
                    span {
                        font-size: $font-size-18;
                    }
                }
             
                .product-color-container {
                    .colors {
                        label {
                            .color {
                                width: 42px;
                                height: 42px;
                            }
                        }
                    }
                }
            }
    
            .products-container {
                grid-template-columns: repeat(2, 1fr);

                .product {
                    .product-body {
                        .buttons {
                            .compare {
                                .right-arrow {
                                    width: 17px;
                                }
                                .left-arrow {
                                    width: 17px;
                                }
                            }

                            .favorite {
                                svg {
                                    width: 30px;
                                }
                            }
                            
                            .add-to-cart {
                                svg {
                                    width: 25px;
                                }
                            }

                        }
                    }
                }
            }
        }

        .brands {
            .slide-container {
                padding: 0 10px;

                .swiper-btn-prev {
                    height: 40px;
                    svg {
                        height: 100%;
                    }
                }

                .swiper-btn-next {
                    height: 40px;
                    svg {
                        height: 100%;
                    }
                }

                .slide-content {
                    width: 90%;
                    margin: 0 10px;

                    .logo-wrapper {
                        .swiper-slide {
                            height: 38px;
                            width: fit-content;
                            display: flex;
                            justify-content: center;
                            img {
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                    }
                }
            }
        }
    }
    
    @media (max-width: 992px) {
    
        header {
            background-color: #0065DB;
            
            nav {
                width: 95%;
                
                .logo {
                    color: #fff;
                }
                .search {
                    display: none;
                }

                .icons {
                    width: 20vw;
                    
                    .selectLanguage {
                        .select {
                            background-color: transparent;
                            color: #fff;
                            option {
                                color: #000;
                            }
                        }
                    }

                    .cart {
                        .image {

                            &:hover svg path {
                                fill: #241B55;
                            }
                            svg {
                                path {
                                    fill: #fff;
                                }
                            }
                        }
                    }

                    .user-profile {
                        &:hover svg path {
                            fill: #241B55;
                        }

                        svg {
                            path {
                                fill: #fff;
                            }
                        }
                    }
                }
            }
        }
        
        .search {
            display: flex;
        }

        .hero {
            padding-right: 0;

            .hero-container {
                img {
                    margin: 0;
                    padding: 0;
                }
            }
        }

        .main {
            width: 100%;
            flex-direction: column;
            padding: 0;

            .filter {
                width: 100%;
                margin-bottom: 50px;
                .filter-by {
                    width: 100%;
                    border-radius: 0;
                    padding: 0 2.5%;

                    h4 {
                        font-size: $font-size-18;
                    }

                    button {
                        font-size: $font-size-16;
                        height: 40px;
                        width: 80px;   
                    }
                }
            
                .price-dropdown-toggle,
                .brand-dropdown-toggle,
                .color-dropdown-toggle {
                    padding: 18px 2.5%;
                }

                .product-color-container {
                    .colors {
                        width: 50%;
                        grid-template-columns: repeat(4, 1fr);
                        gap: .5rem;
                        label {
                            .color {
                                width: 64px;
                                height: 64px;
                            }
                        }
                    }
                }
            }

            .products-container {
                width: 95%;
                margin: 0 auto;
            }
        }

        .brands {
            .text-for-brands {
                span {
                    font-size: $font-size-18;
                }
            }
            .slide-container {
                padding: 0 10px;

                .swiper-btn-prev {
                    height: 40px;
                    svg {
                        height: 100%;
                    }
                }

                .swiper-btn-next {
                    height: 40px;
                    svg {
                        height: 100%;
                    }
                }

                .slide-content {
                    width: 90%;
                    margin: 0 10px;

                    .logo-wrapper {
                        .swiper-slide {
                            height: 38px;
                            width: fit-content;
                            display: flex;
                            justify-content: center;
                            img {
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 768px) {
        .main {
            .filter {

                .product-color-container {
                    .colors {
                        width: 100%;
                    }
                }
            }
        }

        .brands {
            .slide-container {
                padding: 0 10px;

                .swiper-btn-prev {
                    height: 40px;
                    svg {
                        height: 100%;
                    }
                }

                .swiper-btn-next {
                    height: 40px;
                    svg {
                        height: 100%;
                    }
                }

                .slide-content {
                    width: 90%;
                    margin: 0 10px;

                    .logo-wrapper {
                        .swiper-slide {
                            height: 28px;
                            width: fit-content;
                            display: flex;
                            justify-content: center;
                            img {
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 576px) {

        header {
            background-color: #0065DB;
            
            nav {
                width: 95%;
                
                .logo {
                    color: #fff;
                }
                .search {
                    display: none;
                }

                .icons {
                    width: 30vw;
                    
                    .selectLanguage {
                        .select {
                            background-color: transparent;
                            color: #fff;
                        }
                    }

                    .cart {
                        .image {

                            &:hover svg path {
                                fill: #241B55;
                            }
                            svg {
                                path {
                                    fill: #fff;
                                }
                            }
                        }
                    }

                    .user-profile {
                        &:hover svg path {
                            fill: #241B55;
                        }

                        svg {
                            path {
                                fill: #fff;
                            }
                        }
                    }
                }
            }
        }

        .main {
            .products-container {
                grid-template-columns: repeat(1, 1fr);
            }
        }
    }
}
