* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@-webkit-keyframes compare-right {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
}

@keyframes compare-right {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
}

@-webkit-keyframes compare-left {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@keyframes compare-left {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

body {
  margin: 0;
  font-family: 'SF Pro Display', sans-serif;
  font-size: 1rem;
}

body header {
  width: 100%;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header nav {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body header nav .logo {
  font-size: 1.875rem;
  font-weight: 700;
  text-decoration: none;
  color: #000;
}

body header nav .search {
  width: 50vw;
  height: 48px;
  background-color: #fff;
  border: 1px solid #EBEBEB;
  border-radius: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body header nav .search input {
  background: transparent;
  border: 0;
  height: 100%;
  width: 100%;
  outline: none;
  padding: 20px 40px;
  font-size: 1.125rem;
}

body header nav .search input::-webkit-input-placeholder {
  color: #5E5E5E;
}

body header nav .search input:-ms-input-placeholder {
  color: #5E5E5E;
}

body header nav .search input::-ms-input-placeholder {
  color: #5E5E5E;
}

body header nav .search input::placeholder {
  color: #5E5E5E;
}

body header nav .search button {
  width: 60px;
  height: 60px;
  border: 0;
  border-radius: 50%;
  margin-right: 20px;
  background: transparent;
  cursor: pointer;
}

body header nav .search button:hover svg path,
body header nav .search button:active svg path {
  fill: #0065DB;
}

body header nav .search button svg {
  width: 25px;
}

body header nav .search button svg path {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

body header nav .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 13vw;
  height: 100%;
}

body header nav .icons .selectLanguage {
  height: 54px;
  width: 57px;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
}

body header nav .icons .selectLanguage .select {
  border: 0;
  outline: none;
  font-size: 1.063rem;
  font-weight: 500;
  color: #4A5568;
}

body header nav .icons .cart {
  height: 54px;
  width: 57px;
  text-decoration: none;
}

body header nav .icons .cart .image {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

body header nav .icons .cart .image:hover svg path {
  fill: #0065DB;
}

body header nav .icons .cart .image svg path {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

body header nav .icons .cart .image .quantity {
  position: absolute;
  bottom: 5px;
  right: 5px;
  background-color: #fff;
  border: 1px solid #9AE6B4;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
}

body header nav .icons .cart .image .quantity span {
  text-align: center;
  color: #2F855A;
  margin: 0;
  padding: 0;
  line-height: 0;
}

body header nav .icons .user-profile {
  height: 54px;
  width: 57px;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body header nav .icons .user-profile:hover svg path {
  fill: #0065DB;
}

body header nav .icons .user-profile svg path {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

body .search {
  width: 100%;
  height: 55px;
  background-color: #fff;
  border: 1px solid #EBEBEB;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .search input {
  background: transparent;
  border: 0;
  height: 100%;
  width: 100%;
  outline: none;
  padding: 20px 40px;
  font-size: 1.125rem;
}

body .search input::-webkit-input-placeholder {
  color: #5E5E5E;
}

body .search input:-ms-input-placeholder {
  color: #5E5E5E;
}

body .search input::-ms-input-placeholder {
  color: #5E5E5E;
}

body .search input::placeholder {
  color: #5E5E5E;
}

body .search button {
  width: 60px;
  height: 60px;
  border: 0;
  border-radius: 50%;
  margin-right: 20px;
  background: transparent;
  cursor: pointer;
}

body .search button:hover svg path,
body .search button:active svg path {
  fill: #0065DB;
}

body .search button svg {
  width: 25px;
}

body .search button svg path {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

body .hero {
  width: 100%;
  padding-right: 5%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

body .hero .hero-container {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

body .hero .hero-container img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

body .main {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 2rem;
}

body .main .filter {
  width: 25%;
}

body .main .filter .filter-by {
  width: 100%;
  height: 70px;
  color: #fff;
  background-color: #0065DB;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 18px 0 45px;
}

body .main .filter .filter-by h4 {
  font-size: 1.625rem;
  font-weight: 700;
  text-transform: uppercase;
}

body .main .filter .filter-by button {
  width: 100px;
  height: 48px;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 400;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 8px;
  cursor: pointer;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

body .main .filter .filter-by button:hover, body .main .filter .filter-by button:active {
  background-color: #fff;
  color: #0065DB;
}

body .main .filter .price-dropdown-toggle {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 18px 40px 18px 45px;
  background-color: #FAF8F8;
  border: 1px solid #E2E2E2;
  cursor: pointer;
}

body .main .filter .price-dropdown-toggle:hover {
  background-color: #0065DB;
  color: #fff;
}

body .main .filter .price-dropdown-toggle:hover svg path {
  fill: #fff;
}

body .main .filter .price-dropdown-toggle span {
  font-size: 1.25rem;
  font-weight: 400;
}

body .main .filter .price-dropdown-toggle svg {
  height: 15px;
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}

body .main .filter .price-range-container {
  width: 100%;
  height: 20%;
  padding: 32px 44px;
  border: 1px solid #E2E2E2;
}

body .main .filter .price-range-container .price-range {
  font-size: 1.125rem;
  font-weight: 400;
  margin-bottom: 8px;
}

body .main .filter .price-range-container .rangeText {
  color: #0065DB;
  margin-bottom: 20px;
}

body .main .filter .price-range-container #range-slider {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .main .filter .price-range-container #range-slider .rangeValues {
  width: 100%;
  display: block;
}

body .main .filter .price-range-container #range-slider input[type=range] {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  width: 100%;
}

body .main .filter .price-range-container #range-slider input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  background-color: #1A202C;
  border: none;
  border-radius: 0;
}

body .main .filter .price-range-container #range-slider input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: #1A202C;
  color: #1A202C;
  margin-top: -8px;
  cursor: pointer;
  z-index: 1;
}

body .main .filter .brand-dropdown-toggle {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 18px 40px 18px 45px;
  background-color: #FAF8F8;
  border: 1px solid #E2E2E2;
  cursor: pointer;
}

body .main .filter .brand-dropdown-toggle:hover {
  background-color: #0065DB;
  color: #fff;
}

body .main .filter .brand-dropdown-toggle:hover svg path {
  fill: #fff;
}

body .main .filter .brand-dropdown-toggle span {
  font-size: 1.25rem;
  font-weight: 400;
}

body .main .filter .brand-dropdown-toggle svg {
  height: 15px;
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}

body .main .filter .brand-menu {
  list-style: none;
  list-style-position: inside;
  padding: 28px 44px;
  border: 1px solid #E2E2E2;
  -webkit-transition: display .3s ease;
  transition: display .3s ease;
}

body .main .filter .brand-menu li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .main .filter .brand-menu li input {
  width: 24px;
  height: 24px;
  border: 1px solid #CBCBCB;
  margin-right: 24px;
}

body .main .filter .brand-menu li span {
  font-size: 1.25rem;
  font-weight: 400;
}

body .main .filter .brand-menu li:not(:last-child) {
  margin-bottom: 22px;
}

body .main .filter .color-dropdown-toggle {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 18px 40px 18px 45px;
  background-color: #FAF8F8;
  border: 1px solid #E2E2E2;
  cursor: pointer;
}

body .main .filter .color-dropdown-toggle:hover {
  background-color: #0065DB;
  color: #fff;
}

body .main .filter .color-dropdown-toggle:hover svg path {
  fill: #fff;
}

body .main .filter .color-dropdown-toggle span {
  font-size: 1.25rem;
  font-weight: 400;
}

body .main .filter .color-dropdown-toggle svg {
  height: 15px;
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}

body .main .filter .product-color-container {
  padding: 32px 44px;
  border: 1px solid #E2E2E2;
}

body .main .filter .product-color-container .colors {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: .5rem;
  margin-bottom: 31px;
}

body .main .filter .product-color-container .colors input {
  display: none;
}

body .main .filter .product-color-container .colors label {
  margin-bottom: 6px;
  cursor: pointer;
}

body .main .filter .product-color-container .colors label div:hover {
  border: 1px solid #0065DB;
}

body .main .filter .product-color-container .colors label .color {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

body .main .filter .product-color-container .colors label .color svg {
  display: none;
}

body .main .filter .product-color-container .colors label .black {
  background-color: #212121;
}

body .main .filter .product-color-container .colors label .red {
  background-color: #EF3030;
}

body .main .filter .product-color-container .colors label .indigo {
  background-color: #3940F2;
}

body .main .filter .product-color-container .colors label .green {
  background-color: #5CEA95;
}

body .main .filter .product-color-container .colors label .yellow {
  background-color: #FFF73D;
}

body .main .filter .product-color-container .colors label .orange {
  background-color: #FF8D3B;
}

body .main .filter .product-color-container .colors label .grey {
  background-color: #C3C3C3;
}

body .main .filter .product-color-container .colors label .white {
  border: 1px solid rgba(0, 0, 0, 0.27);
  background-color: #FFFFFF;
}

body .main .filter .product-color-container .selected-color-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .main .filter .product-color-container .selected-color-text .title {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 18px;
}

body .main .filter .product-color-container .selected-color-text .color-names {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
}

body .main .filter .product-color-container .selected-color-text .color-names .color-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 14px;
}

body .main .filter .product-color-container .selected-color-text .color-names .color-title .x {
  width: 18px;
  height: 18px;
  border: 1px solid #CBCBCB;
  border-radius: 3px;
  margin-right: 8px;
}

body .main .filter .product-color-container .selected-color-text .color-names .color-title .name {
  font-size: 1.25rem;
  font-weight: 400;
}

body .main .products-container {
  width: 70%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

body .main .products-container .product {
  width: 100%;
  height: 504px;
  background-color: transparent;
  border: 1px solid #E2E2E2;
  border-radius: 20px;
  margin: 0 auto;
  -webkit-transition: -webkit-transform .4s ease-in-out;
  transition: -webkit-transform .4s ease-in-out;
  transition: transform .4s ease-in-out;
  transition: transform .4s ease-in-out, -webkit-transform .4s ease-in-out;
}

body .main .products-container .product:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

body .main .products-container .product .product-header {
  width: 100%;
  height: 300px;
}

body .main .products-container .product .product-header .thumbnail-link {
  height: 80%;
  width: 100%;
  padding: 20px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

body .main .products-container .product .product-header .thumbnail-link .product-thumbnail {
  height: 100%;
  width: 85%;
  -o-object-fit: contain;
     object-fit: contain;
}

body .main .products-container .product .product-header .title-link {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-decoration: none;
}

body .main .products-container .product .product-header .title-link .product-title {
  width: 90%;
  margin: 0 auto;
  margin-top: 15px;
  color: #1A202C;
  font-size: 1.375rem;
  font-weight: 600;
}

body .main .products-container .product .product-body {
  width: 90%;
  height: 40%;
  margin: 0 auto;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .main .products-container .product .product-body .product-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .main .products-container .product .product-body .product-content .reviews i {
  height: 17px;
  color: #F6AD55;
}

body .main .products-container .product .product-body .product-content .reviews .review-grade {
  color: #F6AD55;
  font-weight: 600;
}

body .main .products-container .product .product-body .product-content .reviews .review-count {
  color: #A0AEC0;
}

body .main .products-container .product .product-body .product-content .details ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style-position: inside;
}

body .main .products-container .product .product-body .product-content .details ul li {
  color: #969696;
  font-weight: 400;
}

body .main .products-container .product .product-body .product-content .price {
  color: #1A202C;
  font-size: 1.75rem;
  font-weight: 700;
}

body .main .products-container .product .product-body .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .main .products-container .product .product-body .buttons button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

body .main .products-container .product .product-body .buttons .compare {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .main .products-container .product .product-body .buttons .compare:hover .right-arrow {
  -webkit-transform: translateX(-5px);
          transform: translateX(-5px);
  color: #0065DB;
}

body .main .products-container .product .product-body .buttons .compare:hover .left-arrow {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
  color: #0065DB;
}

body .main .products-container .product .product-body .buttons .compare:hover .right-arrow path,
body .main .products-container .product .product-body .buttons .compare:hover .left-arrow path {
  fill: #0065DB;
}

body .main .products-container .product .product-body .buttons .compare .right-arrow {
  margin-top: 0;
  margin-left: auto;
  -webkit-transition: all 0.4s cubic-bezier(0, 1.5, 1, 1.5);
  transition: all 0.4s cubic-bezier(0, 1.5, 1, 1.5);
}

body .main .products-container .product .product-body .buttons .compare .right-arrow path {
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

body .main .products-container .product .product-body .buttons .compare .left-arrow {
  margin-top: 0;
  margin-right: auto;
  -webkit-transition: all 0.4s cubic-bezier(0, 1.5, 1, 1.5);
  transition: all 0.4s cubic-bezier(0, 1.5, 1, 1.5);
}

body .main .products-container .product .product-body .buttons .compare .left-arrow path {
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

body .main .products-container .product .product-body .buttons .favorite {
  height: 29px;
}

body .main .products-container .product .product-body .buttons .favorite:hover svg {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

body .main .products-container .product .product-body .buttons .favorite:hover svg path {
  fill: #0065DB;
}

body .main .products-container .product .product-body .buttons .favorite svg {
  height: 100%;
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.5, 2, 0.5, -2);
  transition: -webkit-transform 0.4s cubic-bezier(0.5, 2, 0.5, -2);
  transition: transform 0.4s cubic-bezier(0.5, 2, 0.5, -2);
  transition: transform 0.4s cubic-bezier(0.5, 2, 0.5, -2), -webkit-transform 0.4s cubic-bezier(0.5, 2, 0.5, -2);
}

body .main .products-container .product .product-body .buttons .favorite svg path {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

body .main .products-container .product .product-body .buttons .add-to-cart {
  height: 34px;
}

body .main .products-container .product .product-body .buttons .add-to-cart:hover svg {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

body .main .products-container .product .product-body .buttons .add-to-cart:hover svg path,
body .main .products-container .product .product-body .buttons .add-to-cart:active svg path {
  fill: #0065DB;
}

body .main .products-container .product .product-body .buttons .add-to-cart svg {
  height: 100%;
  -webkit-transition: all 0.25s cubic-bezier(0.45, 0.05, 0.55, 0.95);
  transition: all 0.25s cubic-bezier(0.45, 0.05, 0.55, 0.95);
}

body .main .products-container .product .product-body .buttons .add-to-cart svg path {
  -webkit-transition: all 0.25s cubic-bezier(0.45, 0.05, 0.55, 0.95);
  transition: all 0.25s cubic-bezier(0.45, 0.05, 0.55, 0.95);
}

body .brands {
  height: 100px;
  width: 100%;
  margin-top: 88px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #E0E0E0;
}

body .brands .text-for-brands {
  width: 30%;
  height: 100%;
  border-top-right-radius: 30px;
  background-color: #0065DB;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .brands .text-for-brands span {
  width: 90%;
  font-size: 1.75rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

body .brands .slide-container {
  width: 70%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .brands .slide-container .swiper-button-prev {
  display: none;
}

body .brands .slide-container .swiper-button-next {
  display: none;
}

body .brands .slide-container .swiper-btn-prev {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}

body .brands .slide-container .swiper-btn-next {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}

body .brands .slide-container .slide-content {
  width: 85%;
  overflow: hidden;
  margin: 0 36px;
}

body .brands .slide-container .slide-content .logo-wrapper .swiper-slide {
  height: 55px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

body .brands .slide-container .slide-content .logo-wrapper .swiper-slide img {
  height: 100%;
}

@media (max-width: 1500px) {
  body .main .filter .product-color-container {
    padding: 32px 22px;
  }
}

@media (max-width: 1400px) {
  body .main .filter .product-color-container .colors label .color {
    width: 52px;
    height: 52px;
  }
  body .main .products-container .product .product-header .title-link .product-title {
    font-size: 1.25rem;
  }
  body .main .products-container .product .product-body .product-content .price {
    font-size: 1.625rem;
  }
  body .brands .text-for-brands span {
    font-size: 1.25rem;
  }
  body .brands .slide-container .slide-content {
    margin: 0 10px;
  }
  body .brands .slide-container .slide-content .logo-wrapper .swiper-slide {
    height: 45px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .brands .slide-container .slide-content .logo-wrapper .swiper-slide img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media (max-width: 1200px) {
  body .main .filter .filter-by h4 {
    font-size: 1.375rem;
  }
  body .main .filter .filter-by button {
    font-size: 1.125rem;
    width: 90px;
    height: 45px;
  }
  body .main .filter .price-dropdown-toggle span {
    font-size: 1.125rem;
  }
  body .main .filter .brand-dropdown-toggle span {
    font-size: 1.125rem;
  }
  body .main .filter .color-dropdown-toggle span {
    font-size: 1.125rem;
  }
  body .main .filter .product-color-container .colors label .color {
    width: 42px;
    height: 42px;
  }
  body .main .products-container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  body .main .products-container .product .product-body .buttons .compare .right-arrow {
    width: 17px;
  }
  body .main .products-container .product .product-body .buttons .compare .left-arrow {
    width: 17px;
  }
  body .main .products-container .product .product-body .buttons .favorite svg {
    width: 30px;
  }
  body .main .products-container .product .product-body .buttons .add-to-cart svg {
    width: 25px;
  }
  body .brands .slide-container {
    padding: 0 10px;
  }
  body .brands .slide-container .swiper-btn-prev {
    height: 40px;
  }
  body .brands .slide-container .swiper-btn-prev svg {
    height: 100%;
  }
  body .brands .slide-container .swiper-btn-next {
    height: 40px;
  }
  body .brands .slide-container .swiper-btn-next svg {
    height: 100%;
  }
  body .brands .slide-container .slide-content {
    width: 90%;
    margin: 0 10px;
  }
  body .brands .slide-container .slide-content .logo-wrapper .swiper-slide {
    height: 38px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .brands .slide-container .slide-content .logo-wrapper .swiper-slide img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media (max-width: 992px) {
  body header {
    background-color: #0065DB;
  }
  body header nav {
    width: 95%;
  }
  body header nav .logo {
    color: #fff;
  }
  body header nav .search {
    display: none;
  }
  body header nav .icons {
    width: 20vw;
  }
  body header nav .icons .selectLanguage .select {
    background-color: transparent;
    color: #fff;
  }
  body header nav .icons .selectLanguage .select option {
    color: #000;
  }
  body header nav .icons .cart .image:hover svg path {
    fill: #241B55;
  }
  body header nav .icons .cart .image svg path {
    fill: #fff;
  }
  body header nav .icons .user-profile:hover svg path {
    fill: #241B55;
  }
  body header nav .icons .user-profile svg path {
    fill: #fff;
  }
  body .search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body .hero {
    padding-right: 0;
  }
  body .hero .hero-container img {
    margin: 0;
    padding: 0;
  }
  body .main {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
  body .main .filter {
    width: 100%;
    margin-bottom: 50px;
  }
  body .main .filter .filter-by {
    width: 100%;
    border-radius: 0;
    padding: 0 2.5%;
  }
  body .main .filter .filter-by h4 {
    font-size: 1.125rem;
  }
  body .main .filter .filter-by button {
    font-size: 1rem;
    height: 40px;
    width: 80px;
  }
  body .main .filter .price-dropdown-toggle,
  body .main .filter .brand-dropdown-toggle,
  body .main .filter .color-dropdown-toggle {
    padding: 18px 2.5%;
  }
  body .main .filter .product-color-container .colors {
    width: 50%;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    gap: .5rem;
  }
  body .main .filter .product-color-container .colors label .color {
    width: 64px;
    height: 64px;
  }
  body .main .products-container {
    width: 95%;
    margin: 0 auto;
  }
  body .brands .text-for-brands span {
    font-size: 1.125rem;
  }
  body .brands .slide-container {
    padding: 0 10px;
  }
  body .brands .slide-container .swiper-btn-prev {
    height: 40px;
  }
  body .brands .slide-container .swiper-btn-prev svg {
    height: 100%;
  }
  body .brands .slide-container .swiper-btn-next {
    height: 40px;
  }
  body .brands .slide-container .swiper-btn-next svg {
    height: 100%;
  }
  body .brands .slide-container .slide-content {
    width: 90%;
    margin: 0 10px;
  }
  body .brands .slide-container .slide-content .logo-wrapper .swiper-slide {
    height: 38px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .brands .slide-container .slide-content .logo-wrapper .swiper-slide img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media (max-width: 768px) {
  body .main .filter .product-color-container .colors {
    width: 100%;
  }
  body .brands .slide-container {
    padding: 0 10px;
  }
  body .brands .slide-container .swiper-btn-prev {
    height: 40px;
  }
  body .brands .slide-container .swiper-btn-prev svg {
    height: 100%;
  }
  body .brands .slide-container .swiper-btn-next {
    height: 40px;
  }
  body .brands .slide-container .swiper-btn-next svg {
    height: 100%;
  }
  body .brands .slide-container .slide-content {
    width: 90%;
    margin: 0 10px;
  }
  body .brands .slide-container .slide-content .logo-wrapper .swiper-slide {
    height: 28px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .brands .slide-container .slide-content .logo-wrapper .swiper-slide img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media (max-width: 576px) {
  body header {
    background-color: #0065DB;
  }
  body header nav {
    width: 95%;
  }
  body header nav .logo {
    color: #fff;
  }
  body header nav .search {
    display: none;
  }
  body header nav .icons {
    width: 30vw;
  }
  body header nav .icons .selectLanguage .select {
    background-color: transparent;
    color: #fff;
  }
  body header nav .icons .cart .image:hover svg path {
    fill: #241B55;
  }
  body header nav .icons .cart .image svg path {
    fill: #fff;
  }
  body header nav .icons .user-profile:hover svg path {
    fill: #241B55;
  }
  body header nav .icons .user-profile svg path {
    fill: #fff;
  }
  body .main .products-container {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}
/*# sourceMappingURL=styles.css.map */